@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: monospace;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

footer {
  margin-top: auto;
}

.logoContainer {
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto; 
}
